/* Other rules */

/* Création de variables dans la pseudo-classe :root, pour éviter certaines répétitions en CSS. */

:root {
  --bg-primary: #4c76b5;
  --bg-secondary: #7e90ab;
  --bg-main: #eeebebe5;
  --border-color: #b4bcc1;
}

p {
  color: #fff;
  font-family: Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: 700;
}
p span {
  display: inline-block;
  position: relative;
  transform-style: preserve-3d;
  perspective: 500;
  -webkit-font-smoothing: antialiased;
}
p span::before,
p span::after {
  display: none;
  position: absolute;
  top: 0;
  left: -1px;
  transform-origin: left top;
  transition: all ease-out 0.3s;
  content: attr(data-text);
}
p span::before {
  z-index: 1;
  color: rgba(0, 0, 0, 0.2);
  transform: scale(1.1, 1) skew(0deg, 20deg);
}
p span::after {
  z-index: 2;
  color: #c20000;
  text-shadow: -1px 0 1px #ff0404, 1px 0 1px rgba(0, 0, 0, 0.8);
  transform: rotateY(-40deg);
}
p span:hover::before {
  transform: scale(1.1, 1) skew(0deg, 5deg);
}
p span:hover::after {
  transform: rotateY(-10deg);
}
p span + span {
  margin-left: 0.3em;
}
@media (min-width: 20em) {
  p {
    font-size: 2em;
  }
  p span::before,
  p span::after {
    display: block;
  }
}
@media (min-width: 10em) {
  p {
    font-size: 0em;
  }
}
@media (min-width: 20em) {
  p {
    font-size: 0.7em;
  }
}
@media (min-width: 30em) {
  p {
    font-size: 3em;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.inscrire {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  color: #ff0000;
  margin: 15px;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  height: 50px;
  cursor: pointer;
  width: 100px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.connecter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  margin: 15px;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  height: 50px;
  cursor: pointer;
  width: 100px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 15px;
}
/* Media Queries */

@media (max-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 300px) and (max-width: 767px) {
}

/* *********************************************************** */

/***************************************************************/
html {
  text-align: center;
  margin-top: 50px;
  background-color: rgb(0, 0, 0);
}
.card {
  /* border: 1px solid var(--bg-primary); */
  display: inline-flex;
  margin: 5px;
  text-align: justify;
}
h4 {
  padding: 10px;
}
.name {
  color: rgb(23, 22, 22);
  font-size: 1rem;
}
.marvel-comics {
  /* border: 1px solid brown; */
  padding: 10px;
}

.marvel-comics {
  background-color: skyblue;
  /* border: 1px solid blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}
.marvel-comics:hover {
  background-color: #ba0909;
  cursor: pointer;
}
.marvel-comics > .name:hover {
  color: white;
}

.picture {
  border-radius: 15px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 256px;
}

.presentation {
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
  width: 250px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 15px;
  margin-bottom: 5px;
  color: #1a1818;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.comics {
  text-align: center;
  text-shadow: 1px 2px 15px rgb(203, 200, 200);
  font-size: 13px;
  color: #762626;
  margin-top: -8px;
  background-color: #c9e4f9a8;
  border-radius: 15px;
  min-height: 5px;
  height: 15px;
}
.books {
  color: aliceblue;
}
.header {
  display: flex;
  justify-content: center;
  font-size: 75px;
  font-family: "Times New Roman", Times, serif;
  /* border: 1px solid teal; */
  padding-bottom: 10px;
  color: #ba0909;
  margin-bottom: 25px;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  /* font-size: 21px; */
  font-family: "Times New Roman", Times, serif;
  background-color: #070c0c;
  border: 1px solid rgb(90, 0, 128);
  padding: 20px 0;
  color: rgb(244, 0, 0);
  bottom: 0;
  position: fixed;
  width: auto;
  width: 100%;
}

/*********************************************************************************************/

button {
  font-family: "Times New Roman", Times, serif;
}

input,
textarea {
  margin: auto;
  margin-bottom: auto;
  font-family: "Times New Roman", Times, serif;
  border: 1px solid var(--border-color);
  width: 40vw;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 18px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  color: rgb(40, 40, 40);
  /* box-shadow: 6px 1px 15px rgb(252, 254, 255); */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f000;
}

textarea {
  height: 150px;
}

input[type="submit"] {
  background-color: var(--bg-primary);
  cursor: pointer;
  width: 100%;
  font-size: 22px;
  height: 100%;
  border-radius: 5px;
  color: white;
  background-color: #5b96fc92;
  color: rgb(80, 80, 80);
  /* width: 40vw; */
  margin: auto;
  box-shadow: 1px 3px 15px rgb(213, 211, 211);
}

input[type="submit"]:hover {
  background-color: var(--bg-primary);
  color: white;
}

button {
  background-color: var(--bg-primary);
  cursor: pointer;
  font-size: 22px;
  height: 100%;
  border-radius: 5px;
  color: white;
  background-color: #5b96fc92;
  color: rgb(80, 80, 80);
  height: 42px;
}

button:hover {
  background-color: var(--bg-primary);
  color: white;
}

.form-inscrire {
  border: 1px solid #09b1ba;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 42vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form-connecter {
  border: 1px solid #09b1ba;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 42vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Media Queries */

@media (max-width: 1024px) {
  main {
    /* width: auto; */
    padding: 42px;
    background-color: var(--bg-main);
    border-radius: 10px;
    margin: auto;
    padding: 0 20px;
  }
  input[type="submit"] {
    font-size: 20px;
  }
  /* button {
        font-size: 20px;
    } */
}

@media (min-width: 768px) and (max-width: 1024px) {
  main {
    padding: 42px;
    background-color: var(--bg-main);
    border-radius: 10px;
    /* width: 500px; */
    margin: auto;
    width: 30vw;
    /* padding: 0 20px; */
  }
  h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 45px;
    margin: 5px 0 45px 0;
    color: rgb(56, 81, 106);
    text-align: center;
  }
  input[type="submit"] {
    font-size: 16px;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    font-family: "Times New Roman", Times, serif;
    /* border: 1px solid teal; */
    padding-bottom: 10px;
    color: #09b1ba;
    margin-top: 25px;
  }
  main {
    padding: 42px;
    background-color: var(--bg-main);
    border-radius: 10px;
    /* width: 500px; */
    margin: auto;
    width: 30vw;
    /* padding: 0 20px; */
  }

  input,
  textarea {
    margin: auto;
    margin-bottom: auto;
    font-family: "Times New Roman", Times, serif;
    border: 1px solid var(--border-color);
    width: 40vw;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 18px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    color: rgb(40, 40, 40);
    /* box-shadow: 6px 1px 15px rgb(252, 254, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f000;
  }

  .inscrire {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    color: #09b1ba;
    margin: 15px;
    padding: 10px;
    border: 1px solid #09b1ba;
    border-radius: 15px;
    background-color: white;
  }
  .connecter {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    color: #7a1303ad;
    margin: 15px;
    padding: 10px;
    /* border: 1px solid #7a1303ad; */
    border-radius: 15px;
    background-color: white;
  }

  .form-inscrire {
    border: 1px solid #09b1ba;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 42vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 150px;
  }

  .form-connecter {
    border: 1px solid #09b1ba;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 42vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 150px;
  }
  .air {
    max-width: 740px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    letter-spacing: 5px;
    line-height: 1px;
  }

  .uppercase {
    text-transform: uppercase;
    font-weight: 800;
    margin-left: 15px;
  }

  .form {
    margin-top: 150px;
  }

  .label {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .description {
    /* background-color: chartreuse; */
    width: auto;
  }
}

/* *********************************************************** */

/***************************************************************/

.container {
  background-color: #d7dafc;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.articles {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: #03297aad;
  margin: 15px;
  padding: 10px;
  border: 1px solid #03297aad;
  border-radius: 15px;
  background-color: white;
  text-decoration: none;
}
.annonce {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 10px;
  margin-bottom: 250px;
}

.litle-picture img {
  width: 100px;
  display: flex;
  margin: auto;
  border-radius: 5px;
  box-shadow: 1px 3px 15px rgb(213, 211, 211);
  margin-top: -12px;
}
.label {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 15px;
}

.button {
  border: 1px solid tomato;
}

.air {
  max-width: 740px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid rgb(143, 144, 145);
  border-radius: 5px;
  margin-top: 15px;
  padding: 40px;
  box-shadow: 1px 3px 15px lightgray;
  margin-bottom: 150px;
  letter-spacing: 1px;
  line-height: 1px;
}
